*.bin
out.s
*.S
*.o
*.la
*.lo
orc-*.tar.gz
orc.pc
orc-*.pc
orc-uninstalled.pc
orc-*-uninstalled.pc
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
config.sub
configure
config.guess
compile
aclocal.m4
depcomp
.*.swp
*~
.deps
.libs
install-sh
missing
stamp-h1
libtool
ltmain.sh
autom4te.cache

/doc/orc-decl-list.txt
/doc/orc-decl.txt
/doc/orc-undeclared.txt
/doc/orc-undocumented.txt
/doc/orc-unused.txt
/doc/orc.args
/doc/orc.hierarchy
/doc/orc.interfaces
/doc/orc.prerequisites
/doc/orc.signals
/doc/version.entities
/doc/*.stamp
/doc/html/
/doc/tmpl/
/doc/xml/

/examples/example1
/examples/example1orc.c
/examples/example1orc.h
/examples/example2
/examples/example2orc.c
/examples/example2orc.h
/examples/example3
/examples/example3orc.c
/examples/example3orc.h
/examples/mt19937ar
/examples/mt19937arorc.c
/examples/mt19937arorc.h
/examples/volscale


/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/orc/generate-emulation
/orc/generate-bytecode

/test-driver
/testsuite/abi
/testsuite/benchmorc/benchmorc
/testsuite/bytecode_parse
/testsuite/compile_opcodes_sys
/testsuite/compile_opcodes_sys_c
/testsuite/compile_opcodes_sys_c64x
/testsuite/compile_opcodes_sys_mips
/testsuite/compile_opcodes_sys_neon
/testsuite/compile_parse
/testsuite/compile_parse_c
/testsuite/compile_parse_neon
/testsuite/exec_opcodes_sys
/testsuite/exec_parse
/testsuite/generate_opcodes_sys
/testsuite/generate_xml_table
/testsuite/generate_xml_table2
/testsuite/memcpy_speed
/testsuite/perf_opcodes_sys
/testsuite/perf_parse
/testsuite/perf_opcodes_sys_compare
/testsuite/perf_parse_compare
/testsuite/show_parse
/testsuite/test-limits
/testsuite/test-schro
/testsuite/test_accsadubl
/testsuite/test_parse
/testsuite/*.trs
/testsuite/*.log
/testsuite/orcc/orc_test.c
/testsuite/orcc/testorc.c
/testsuite/orcc/testorc.h
/testsuite/orcc/orc_test
/testsuite/orcc/test2
/testsuite/orcc/test3
/testsuite/orcc/*.trs
/testsuite/orcc/*.log

/tools/orcc
/tools/orc-bugreport
