*.o
*.la
*.lo
orc.pc
orc-0.4.pc
orc-uninstalled.pc
orc-0.4-uninstalled.pc
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
config.sub
configure
config.guess
compile
aclocal.m4
depcomp
.*.swp
*~
.deps
.libs
install-sh
missing
stamp-h1
libtool
ltmain.sh
autom4te.cache

orc-stdint.h

/doc/orc-decl-list.txt
/doc/orc-decl.txt
/doc/orc-undeclared.txt
/doc/orc-undocumented.txt
/doc/orc-unused.txt
/doc/orc.args
/doc/orc.hierarchy
/doc/orc.interfaces
/doc/orc.prerequisites
/doc/orc.signals
/doc/version.entities
/doc/*.stamp
/doc/html/
/doc/tmpl/
/doc/xml/

/examples/example1
/examples/mt19937ar
/examples/volscale

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/testsuite/abi
/testsuite/compile_opcodes_sys
/testsuite/compile_opcodes_sys_c
/testsuite/compile_opcodes_sys_neon
/testsuite/compile_parse
/testsuite/compile_parse_c
/testsuite/compile_parse_neon
/testsuite/exec_opcodes_sys
/testsuite/exec_parse
/testsuite/generate_opcodes_sys
/testsuite/generate_xml_table
/testsuite/generate_xml_table2
/testsuite/memcpy_speed
/testsuite/perf_opcodes_sys
/testsuite/perf_parse
/testsuite/test-schro
/testsuite/test_accsadubl
/tools/orcc

