*.o
*.la
*.lo
orc.pc
orc-0.4.pc
orc-uninstalled.pc
orc-0.4-uninstalled.pc
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
config.sub
configure
config.guess
compile
aclocal.m4
depcomp
.*.swp
*~
.deps
.libs
missing
stamp-h1
libtool
ltmain.sh
autom4te.cache
